html,body{
    padding: 0.1px;
    margin: 0.1px;
    height: 100%;
}
body{
	background:url('../image/fon.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
header{
    background:  rgba(125, 117, 109, 0.6);
	width: 100%;
	float: left;
	border-bottom: 2px solid white;
}header a{
			display: inline-block;
			padding: 10px 15px;
			text-decoration: none;
			font-size: 30px;
			color: #1ee7e9;
			text-align: center;
		}header a:hover{
			background: rgba(94, 94, 94, 0.29);
		}
#panel {
    position: fixed;
    top: 0px;
    left: -400px;
    background:  rgba(125, 117, 109, 0.9);
    width: 400px;
    height: 100%;
    padding: 100px 0 0 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}
#panel-sticker:hover #panel {
    left: 0.1px;
}
#panel-sticker {
    position: fixed;
    top: 2px;
    left: 0;
    background: rgba(151, 204, 228, 0.73);
    width: 28px;
    height: 50px;
    font: 40px Georgia;
    color: #fff;
    text-align: center;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#boder{
	width: 98%;
	float: left;
    padding: 1%;
}
#content{
    padding-left: 20%;
    padding-right: 20%;
}
.file-upload {
     position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
     width: 70px; /* Задаем ширину кнопки выбора файла */
     height: 70px; /* Задаем высоту кнопки выбора файла */
     border-radius: 3px;
     color: #fff;
     text-align: center;
}
.file-upload:hover {
     background: rgba(230, 232, 229, 0.44);
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
     /* Растягиваем label на всю возможную площадь блока .file-upload */
     display: block;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.file-upload img {
    margin: 10px;
    height: 50px;
    width: 50px;
}